.Layout-collapsed-home-container .auction-products-grid {
    display: grid;
    width: calc(100vw -100px);
    max-width: calc(100vw - 100px);
    box-sizing: border-box;
    padding: 2rem;
    grid-template-columns: repeat(2, minmax(400px, 1fr));
    gap: 2rem;
    
    margin: 0 auto; 
    place-items: center; 
}
.Layout-expanded-home-container .auction-products-grid {
    display: grid;
    width: calc(100vw -100px);
    max-width: calc(100vw - 100px);
    box-sizing: border-box;
    padding: 2rem;
    grid-template-columns: repeat(auto-fit, minmax(800px, 1fr));
    gap: 2rem;
    margin: 0 auto;
    place-items: center; 
    
}