
button:focus{
    outline: none;
 }
 .faq-container {
    max-width: 85%;
    margin: 20px auto;
    font-family: 'Poppins', sans-serif;
}

.faq-h1 {
    font-size: 28px;
    font-weight: bold;
    text-align: center;
    color: black;
    margin-bottom: 20px;
}

.faq-heading {
    background-color: #4152b3;
    color: white;
    padding: 10px 30px;
    border-radius: 30px;
    font-size: 25px;
    width: fit-content;
}

.faq-qitem {
    background-color: #6c7ae0; 
    border-radius: 35px; 
    box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.15);
    transition: background-color 0.3s ease-in-out;
    margin-bottom: 10px;
    overflow: hidden; 
}

.faq-qitem.open {
    background-color: #4152b3;
}

.faq-question {
    background: none;
    border: none;
    width: 100%;
    text-align: left;
    font-weight: bold;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
    font-size: 22px;
    color: white;
    outline: none;
}

.faq-question i {
    transition: transform 0.3s ease-in-out;
}
 
.faq-qitem.open {
    transition: transform 0.3s ease-in-out;
} 
.faq-aitem {
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.3s ease-in-out, padding 0.3s ease-in-out;
    padding: 0 20px; 
}

.faq-qitem.open .faq-aitem {
    max-height: 200px;
    padding: 10px 20px; 
}

.faq-answer {
    text-align: left;
    font-size: 18px;
    color: white;
    margin: 0;
}
