.filter-sidebar {
  position: fixed;
  top: 0;
  right: -300px;
  width: 300px;
  height: 100vh;
  background-color: white;
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  transition: right 0.3s ease;
  overflow-y: auto;
}

.filter-sidebar.expanded {
  right: 0;
}

.filter-toggle {
  position: fixed;
  top: 80px;
  right: 40px;
  z-index: 1001;
  background: #4152b3;
  padding: 10px 15px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 10px;
}

.filter-toggle-open {
  top: 20px;
}

.hamburger {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.hamburger span {
  display: block;
  width: 20px;
  height: 2px;
  background-color: white;
  transition: all 0.3s ease;
}

.filter-title {
  font-weight: 500;
  color: #333;
  color: white;
}

.filter-content {
  padding: 20px;
  margin-top: 60px;
}

.filter-section {
  margin-bottom: 20px;
  padding: 15px;
  background: #f8f9fa;
  border-radius: 8px;
  /* background-color: #aaa; */
}

.filter-section h3 {
  margin-bottom: 15px;
  color: #333;
  font-size: 1.1rem;
}

.category-item {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  border: 1px solid #ddd;
  background-color: #4152b3;
  border-radius: 10px;
  height: 75px;
}

.category-item input[type="checkbox"] {
  margin-right: 10px;
  width: 15px;
  height: 15px;
  /* margin-top: 35px; */
  accent-color: #fff;
}

.category-item label {
  cursor: pointer;
  color: #fff;

}

.price-inputs {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.price-input {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.price-input label {
  font-size: 0.9rem;
  color: #555;
}

.price-input input {
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 4px;
  width: 100%;
  color: black
}

.apply-filters-btn {
  width: 100%;
  padding: 12px;
  background-color: #4152b3;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.2s;
  margin-top: 20px;
}

.apply-filters-btn:hover {
  background-color: #2a3a8f;
}

@media (max-width: 768px) {
  .filter-sidebar {
    width: 100%;
    max-width: 300px;
  }
} 