.Layout-collapsed-home-container .products-grid {
    display: grid;
    width: calc(100vw -100px);
    /* position: fixed; */
    max-width: calc(100vw - 100px);
    box-sizing: border-box;
    /* padding: 2rem; */
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 2rem 40px;
    padding-left: 15px;
}
.Layout-expanded-home-container .products-grid {
    display: grid;
    width: calc(100vw -100px);
    /* position: fixed; */
    max-width: calc(100vw - 100px);
    box-sizing: border-box;
    /* padding: 2rem; */
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 2rem 3rem;
    padding-left: 3rem;
}

