@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');

.container{
  display: flex;
  height: 100vh;
  width:100vw;
  font-family: 'Poppins', sans-serif;
}

.left-half{
  width: 50%;
  height: 100%;
  display:flex;
  background-color: #4152b3;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.inputs{
  margin-top:50px;
  display:flex;
  flex-direction: column;
  align-self: center;
  width:70%;
  height: 85%;
}
.heading_1{
  margin-top:0px;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  color:white;
  font-size: 35px;
  align-self:center
}
.heading_2{
  color:white;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  margin-top: 40px;
  font-size: 35px;
  align-self:center;
}
.input{
  margin-left:25px;
  margin-right:25px;
  height:30px;
  
}
.email{
  width: 65%;
  margin-top: 80px;
  align-self: center;
  margin-bottom:30px;
  padding:13px;
  box-sizing: border-box;
  border-radius: 5px;
  border:none;
  outline: none;
}
.email::placeholder {
  color: #b0b0b0;
  font-size: 12px;
  font-weight: 300;
  font-family: 'Poppins', sans-serif;
}
.password::placeholder{
  color: #b0b0b0;
  font-size: 12px;
  font-weight: 300;
  font-family: 'Poppins', sans-serif;
}
.password{
  width: 65%;
  align-self: center;
  margin-bottom:7px;
  padding:13px;
  box-sizing: border-box;
  border-radius: 5px;
  border:none;
  outline:none;
}

.forgot{
  display:flex;
  width: 65%;
  font-weight: 300;
  font-size: 13px;
  color:white;
  justify-content:right;
  align-self: center;
  margin-bottom:20px;
  cursor:pointer;
}

.Login{
  background-color:#7b96d4;
  width:65%;
  align-self:center;
  color:white;
  height:45px;
  font-size: 19px;
  font-weight: bold;
  border:none;
  outline: none;
  border-radius: 5px;
  cursor:pointer;
  margin-top:6px;
}

.checkbox{
  cursor: pointer;
  display: flex;
  margin:5px;
  width: 16px;
  height:16px;
  border-radius: 6px;
  border: none;
  outline:black;
}
.Check{
  width:65%;
  display: flex;
  flex-direction: row;
  align-self: center;
  justify-content: left;
}
.remember{
  color:white;
  font-weight: 300;
  font-size: 13px;
  padding:3px;
}

.noaccount{
  margin: 12px;
  width:65%;
  align-self: center;
  justify-content: left;
  color:white;
  font-style: 'Poppins',sans-serif;
  font-weight: light;
}

.signup{
  cursor: pointer;
  text-decoration: underline;
  font-size: 16px;
}

.Adminlogin{
  display:flex;
  justify-content: center;
  align-self: center;
  margin-top:100px;
  color:white;
  text-decoration:underline;
  cursor: pointer;
}
.right-half{
  width:50%;
  height:100%;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.image{
  margin-top:50px;
  display:flex;
  flex-direction: column;
  align-self: center;
  width:70%;
  height: 85%;
}
.image-box img {
  object-fit:fill
}