.Layout-expanded-main-content .product-view-details{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;   /* Full width */
    height: 100vh;  /* Full height */
    overflow: hidden;

}